.img-background{
    width: 100%;
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    
}

.fontbig{
    font-size: 1.4rem;
}

#logobool{
    height: 80px;
    margin-top: 80px;
    margin-left: 10px;
}

h1{
    font-size: 4.5rem;
    margin: 20px 0 0 0;
}

.greytext{
    color: grey;
    margin: auto;
}

.greytext.date{
    font-size: 1rem;
}

#bluetext{
    color: #4EA0FF;
}

#img-section{
    margin-top: 30px;
}

#img1{
    width: 52%;
}
#img2{
    width: 44.5%;
}

#img-section p{
    margin: auto;
}

.highlited-yellow{
    background-color: yellow;
}

#ullist{
    padding-left: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

table{
    width: 100%;
    border-collapse:collapse;
}

.t1{
    width: 25%;
}

.t2{
    width: 50%;
}

#theadblue{
    background-color: #4EA0FF;
    color: white;
    font-weight: 600;
}

.bgblue{
    background-color: #B1E5F2;
}